@charset "UTF-8";
* {
  box-sizing: border-box;
}
ul {
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: georgia;
}
.max-width {
  width: 1096px;
  margin: auto;
}
.wrapper {
  overflow-x: hidden;
}
.header {
  height: 100px;
  width: 100%;
  position: relative;
}
.header__block-bg {
  background-color: #303b44;
  width: 100%;
}
.header__block-wrap {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header__burger_wrap {
  height: 30px;
  width: 30px;
  margin-left: 30px;
  cursor: pointer;
}
.header__block-name {
  color: #fff;
  font-size: 25px;
  margin-left: 20px;
}
.header__block-btn {
  height: 25px;
  border: 1px solid #6e767c;
  border-radius: 3px;
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: 0.0125rem;
  line-height: 100%;
  padding: 6px 8px;
  margin-left: 20px;
}
.header__btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 60px;
  right: 50px;
  height: 25px;
  width: 80px;
}
.header__btn {
  height: 25px;
  width: 25px;
  cursor: pointer;
  color: #fff;
}
.header__nav-bg {
  background-color: #fff;
  width: 100%;
}
.header__nav-wrap {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-start;
}
.header__nav_item {
  margin-left: 30px;
  color: #909090;
}
.header__nav_item:hover {
  color: #487284;
  transition: 0.3s;
}
.header__nav_show-item {
  display: none;
  margin-left: 30px;
  color: #909090;
}
.healthPost_wrap {
  display: flex;
}
.healthPost__product_wrap {
  padding-left: 20px;
}
.healthPost__reviews_wrap {
  width: 100%;
  height: 900px;
  border-color: burlywood;
}
.main {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 990px;
  height: auto;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #000;
}
.main__header_img {
  background: url(./src/baner-cardix.png) no-repeat center;
  display: block;
  background-size: cover;
}
.reviews__block {
  width: 235px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #820000;
  margin: 20px 20px 20px 25px;
  padding: 10px;
  text-align: center;
}
.reviews__img {
  width: 100%;
  border-radius: 3px;
}
.reviews__title {
  color: red;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.reviews__parag {
  text-align: center;
  line-height: 18px;
  font-weight: 400;
}
.reviews__parag > a {
  color: #007bff;
}
.reviews__parag > a:hover {
  text-decoration: underline;
}
.reviews__stars {
  height: 20px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.reviews__star-ico {
  background: url(./src/star.png) center center no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.reviews__name {
  font-weight: bolder;
  line-height: 24px;
  font-size: 16px;
}
.product__btn-wrap {
  height: 45px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.product__title {
  color: #820000;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1em;
  font-size: 40px;
  word-wrap: normal;
}
.product__btn {
  cursor: pointer;
  width: 170px;
  border-radius: 4px;
  background-color: #0083b2;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  margin: 52px auto 50px;
  font-weight: bold;
  opacity: 1;
  transition: 0.3s;
}
.product__btn:hover {
  opacity: 0.7;
}
.product__list {
  list-style: none;
  padding-left: 0;
}
.product__list_item-title {
  margin-bottom: 20px;
}
.product__list_item {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product__list_item-ico {
  background: url(./src/check.png) center center no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.product__parag_title {
  display: block;
  font-weight: 700;
  color: #cc0000;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-bottom: 23px;
}
.product__parag {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 23px;
  color: #3d3d3d;
}
.product__doctor_img {
  display: block;
  float: right;
  width: 59%;
  margin-bottom: 13px;
  max-width: 274px;
  margin-top: 13px;
}
.product__certyfikat-img {
  height: 831px;
  width: 588px;
  margin-bottom: 23px;
}
.product__certyfikat-img:hover {
  position: relative;
  transform: scale(1.25) translateX(111px);
  transition: 0.5s;
  border: 1px solid black;
  z-index: 2;
}
.product__sign_wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.product__sign_img {
  display: block;
  width: 150px;
  height: 30px;
}
.product__sign_span {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
}
.productTarget_wrap {
  width: 650px;
  padding-left: 80px;
}
.productTarget__title {
  margin-bottom: 30px;
  text-align: center;
  color: #3d3d3d;
  font-size: 16px;
  font-family: georgia;
  line-height: 25px;
}
.text-red {
  color: red;
}
.productTarget__wievProduct_wrap {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.wievProduct__img {
  display: block;
  height: 400px;
  width: 400px;
}
.wievProduct__sum-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 200px;
}
.wievProduct__sum-title {
  text-align: center;
}
.wievProduct__sum-box {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
.wievProduct__sum_item {
  width: 60px;
  height: 70px;
  margin: 3px;
  background: linear-gradient(180deg, #7d7d7d 0%, white 50%, #7d7d7d 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #000;
  border-radius: 10px;
  font-size: 32px;
  border: 2px solid #444444;
}
.productTarget__price_wrap {
  width: 100%;
}
.productTarget__price_old {
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  text-decoration: line-through;
  color: red;
  font-weight: 700;
}
.productTarget__price_new {
  line-height: 24px;
  color: #12d012;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.productTarget__price_info {
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.productTarget__form_wrap {
  width: 650px;
}
.productTarget__form_title {
  color: #0083b2;
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  margin-bottom: 20px;
}
.productTarget__form_description {
  margin-bottom: 20px;
}
.productTarget__form_input_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}
.productTarget__form_input_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productTarget__form_input_name::before {
  content: '*';
  color: red;
  padding-top: 2px;
  padding-right: 10px;
  font-size: 25px;
}
.productTarget__form_input {
  display: block;
  font-family: 'Open sans', sans-serif;
  width: 357px;
  height: 43px;
  border: 1px solid #d6d4d4;
  border-radius: 4px;
  color: #161616;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 10px;
}
.productTarget__form_phone_input-question-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #c2c0c0;
  transform: translateY(-50%);
  top: 21px;
  right: 10px;
}
.productTarget__form_phone_input-question-img:hover::before {
  content: 'Dlaczego mam podać swój numer telefonu? Numer telefonu jest potrzebny, aby skontaktować się z naszym zespołem obsługi klienta. Kurier może również skontaktować się pod tym numerem w celu uzgodnienia terminu odbioru przesyłki.';
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 310px;
  font-size: 14px;
  border-radius: 10px;
  color: #212121;
  padding: 5px;
  height: auto;
  background-color: #e4e4e4;
  border: 1px solid black;
  top: -60px;
  left: -222px;
}
.productTarget__form_submit {
  font-family: 'Open sans', sans-serif;
  width: 510px;
  text-decoration: underline;
  font-size: 21px;
  font-weight: 700;
  border-radius: 4px;
  background: #0083b2;
  border: none;
  outline: none;
  padding: 20px 10px;
  color: #f2f9ff;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
  text-shadow: 1px 1px 3px rgb(0 0 0 / 50%);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer {
  height: 340px;
}
.footer__nav-bg {
  width: 100%;
  background-color: #2c3135;
}
.footer__nav_wrap {
  padding-left: 20px;
  height: 290px;
  display: flex;
  justify-content: space-around;
}
.footer__nav_block {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25%;
  height: 100%;
}
.footer__nav_item-title {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #909090;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  width: 200px;
}
.footer__nav_item {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-decoration: none;
}
.footer__nav_item:hover {
  color: #487284;
  opacity: 0.6;
  cursor: pointer;
}
.footer__contact-bg {
  width: 100%;
  background-color: #1d2023;
}
.footer__contact_wrap {
  display: flex;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}
.footer__contact_link {
  color: #50b5e7;
  font-weight: 700;
}
.footer__contact_link:hover {
  color: #487284;
  opacity: 0.6;
  cursor: pointer;
}
.footer__contact_block {
  width: 110px;
}
.footer__contact_social-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__contact_copy {
  font-size: 14px;
  color: #bdcdd6;
}
.footer__contact_title {
  display: none;
}
.footer__contact_social {
  cursor: pointer;
  height: 30px;
  width: 30px;
}
@media (max-width: 1080px) {
  .max-width {
    width: 100%;
  }
  .main {
    width: 720px;
  }
  .main__header_img {
    height: 66px;
  }
  .healthPost__reviews_wrap {
    display: none;
  }
  .header__btn-wrap {
    top: 10px;
    right: 20px;
  }
  .header__nav-wrap {
    padding: 0;
  }
  .product__certyfikat-img {
    pointer-events: none;
  }
  .footer__nav_item-title {
    width: 160px;
  }
  .productTarget_wrap {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 820px) {
  .footer__nav_wrap {
    display: none;
  }
  .footer {
    height: 100%;
  }
  .footer__contact_wrap {
    height: 100%;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .footer__contact-bg {
    height: 520px;
  }
  .footer__contact_title {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
  }
  .footer__contact_social-wrap {
    max-width: 400px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .footer__contact_block {
    width: 100%;
  }
  .footer__contact_link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4b575d;
    color: #bdcdd6;
    cursor: pointer;
    width: 90%;
    font-size: 0.875rem;
    height: 48px;
    margin: 0 0 20px;
  }
}
@media (min-width: 780px) {
  .header__burger_wrap {
    display: none;
  }
}
@media (max-width: 780px) {
  .header__nav-bg {
    display: none;
    z-index: 10;
  }
  .header {
    height: 50px;
  }
  .footer__nav_block {
    padding-left: 5px;
  }
  .header__nav-wrap {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 auto auto 0;
    height: auto;
  }
  .header__nav_item {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    padding-left: 20px;
  }
  .header__nav_show-item {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    padding-left: 20px;
    display: flex;
    border-top: 1px solid #000;
    width: 60vw;
  }
  .header__block-btn {
    display: none;
  }
  .header__nav-wrap:last-child {
    border-bottom: 1px solid #000;
  }
}
@media (max-width: 740px) {
  .main {
    width: 540px;
    padding: 5px;
  }
  .healthPost__product_wrap {
    padding: 0;
  }
  .productTarget__wievProduct_wrap {
    flex-direction: column;
    height: auto;
  }
  .main__header_img {
    height: 50px;
  }
  .product__certyfikat-img {
    width: 100%;
    height: auto;
  }
  .productTarget_wrap {
    width: 100%;
    padding-left: 0;
  }
  .productTarget__form_wrap {
    width: 410px;
    padding: 5px;
    margin: auto;
  }
  .productTarget__form_input_name {
    margin: 0 auto 10px 0;
  }
  .productTarget__form_submit {
    width: 400px;
  }
  .productTarget__form_input_wrap {
    flex-direction: column;
  }
  .productTarget__form_phone_input-question-img {
    top: 61px;
    right: 30px;
  }
}
@media (max-width: 560px) {
  .main {
    width: 100%;
  }
  .main__header_img {
    height: 45px;
  }
}
@media (max-width: 500px) {
  .main__header_img {
    background: url(./src/baner-cardix-small.png) no-repeat center;
    width: 100%;
    display: block;
    max-width: 100%;
    height: 70px;
    background-size: cover;
    object-fit: cover;
  }
  .productTarget__form_wrap {
    width: 300px;
    padding: 5px;
    margin: auto;
  }
  .productTarget__form_input {
    width: 280px;
  }
  .productTarget__form_submit {
    width: 280px;
  }
  .productTarget__form_phone_input-question-img {
    top: 61px;
    right: 15px;
  }
}
@media (max-width: 400px) {
  .main__header_img {
    height: 50px;
  }
}
/*----====js styles====----*/
.header__nav_show {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0;
  height: 100vh;
  width: 60vw;
}
